name: test_apisix_on_centos7

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:     
  test_apisix:
    name: test_apisix
    runs-on: ubuntu-latest
    container: docker.io/centos:7
    steps:
    - uses: actions/checkout@v2
 
    - name: intall deps
      run: |
        yum -y install wget tar gcc automake autoconf libtool make
        wget http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        rpm -ivh epel-release-latest-7.noarch.rpm
        wget https://github.com/etcd-io/etcd/releases/download/v3.4.13/etcd-v3.4.13-linux-amd64.tar.gz
        tar -xvf etcd-v3.4.13-linux-amd64.tar.gz && cd etcd-v3.4.13-linux-amd64 && cp -a etcd etcdctl /usr/bin/
        yum install -y yum-utils
        yum-config-manager --add-repo https://openresty.org/package/centos/openresty.repo
        yum check-update
        yum install -y openresty-debug
        yum install -y openresty
        yum install -y curl git gcc luarocks lua-devel which
        PATH=$PATH:/usr/local/openresty/luajit/bin:/usr/local/openresty/nginx/sbin:/usr/local/openresty/bin

    - name: run apisix
      run: |
        etcd &
        git clone https://github.com/apache/apisix.git
        cd apisix
        make deps
        ./bin/apisix start
        curl http://127.0.0.1:9080/apisix/status

    - name: run test
      run: |
        export PERL5LIB=.:$PERL5LIB
        export OPENRESTY_PREFIX="/usr/local/openresty-debug"
        export PATH=$OPENRESTY_PREFIX/nginx/sbin:$OPENRESTY_PREFIX/luajit/bin:$OPENRESTY_PREFIX/bin:$PATH

        yum install -y cpanminus build-essential libncurses5-dev libreadline-dev libssl-dev perl
        cpanm --notest Test::Nginx IPC::Run > build.log 2>&1 || (cat build.log && exit 1)

        cd apisix
        git clone https://github.com/api7/test-toolkit/ t/toolkit

        prove -Itest-nginx/lib -r t/admin/*.t
        prove -Itest-nginx/lib -r t/certs/*.t
        prove -Itest-nginx/lib -r t/config-center-yaml/*.t
        prove -Itest-nginx/lib -r t/debug/*.t
        prove -Itest-nginx/lib -r t/discovery/*.t
        prove -Itest-nginx/lib -r t/node/*.t
        prove -Itest-nginx/lib -r t/plugin/*.t
        prove -Itest-nginx/lib -r t/router/*.t
        prove -Itest-nginx/lib -r t/script/*.t
        prove -Itest-nginx/lib -r t/stream-node/*.t
        prove -Itest-nginx/lib -r t/stream-plugin/*.t
        prove -Itest-nginx/lib -r t/utils/*.t
