name: test_apisix_on_centos7

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:     
  test_apisix:
    name: test_apisix
    runs-on: ubuntu-latest
    container: docker.io/centos:7
    steps:
    - uses: actions/checkout@v2
 
    - name: Intall deps
      run: |
        yum -y install wget tar gcc automake autoconf libtool make
        wget http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        rpm -ivh epel-release-latest-7.noarch.rpm
        wget https://github.com/etcd-io/etcd/releases/download/v3.4.13/etcd-v3.4.13-linux-amd64.tar.gz
        tar -xvf etcd-v3.4.13-linux-amd64.tar.gz && cd etcd-v3.4.13-linux-amd64 && cp -a etcd etcdctl /usr/bin/
        yum install yum-utils
        yum-config-manager --add-repo https://openresty.org/package/centos/openresty.repo
        yum install -y openresty curl git gcc luarocks lua-devel which
        etcd &
        PATH=$PATH:/usr/local/openresty/luajit/bin:/usr/local/openresty/nginx/sbin:/usr/local/openresty/bin
        

    - name: run apisix
      run: |
        git clone https://github.com/apache/apisix.git
        cd apisix
        make deps
        ./bin/apisix start
        curl http://127.0.0.1:9080/apisix/status


    - name: run admin test
      run: |
        export PERL5LIB=.:$PERL5LIB
        export OPENRESTY_PREFIX="/usr/local/openresty"
        export PATH=$OPENRESTY_PREFIX/nginx/sbin:$OPENRESTY_PREFIX/luajit/bin:$OPENRESTY_PREFIX/bin:$PATH

        yum install -y cpanminus build-essential libncurses5-dev libreadline-dev libssl-dev perl

        yum install -y perl-devel
        yum install -y perl-CPAN
        
        cpanm --notest Test::Nginx IPC::Run > build.log 2>&1 || (cat build.log && exit 1)
        git submodule update --init --recursive
        prove -Itest-nginx/lib -I./ -r t/admin/*.t


