name: test_apisix_on_centos7

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # build_and_run_centos:
  #   name: build_and_run_centos
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2

   # - name: build centos7
   #   run: docker build -t centos7 .
      
    # - name: run centos7
      # working-directory: ./example
      # run: docker run -it -d -v /usr/local/example/deps.sh:/usr/local/deps.sh --name centos7 docker.io/centos:7 /bin/bash
           
        
  intall_deps:
    name: intall_deps
    runs-on: ubuntu-latest
    container: docker.io/centos:7
    steps:
    - uses: actions/checkout@v2
 
    - name: Intall deps
      run: |
        yum -y install wget tar gcc automake autoconf libtool make
        wget http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        rpm -ivh epel-release-latest-7.noarch.rpm
        wget https://github.com/etcd-io/etcd/releases/download/v3.4.13/etcd-v3.4.13-linux-amd64.tar.gz
        tar -xvf etcd-v3.4.13-linux-amd64.tar.gz && cd etcd-v3.4.13-linux-amd64 && cp -a etcd etcdctl /usr/bin/
        yum install yum-utils
        yum-config-manager --add-repo https://openresty.org/package/centos/openresty.repo
        yum install -y openresty curl git gcc luarocks lua-devel which
        etcd &
        PATH=$PATH:/usr/local/openresty/luajit/bin:/usr/local/openresty/nginx/sbin:/usr/local/openresty/bin
        

    - name: run apisix
      run: |
        mkdir apisix
        cd apisix
        wget https://downloads.apache.org/apisix/2.0/apache-apisix-2.0-src.tgz
        tar zxvf apache-apisix-2.0-src.tgz
        make deps
